.items{
 position: relative;
 overflow: hidden;
 
}
.items::after{
    content: '';
    position: absolute;
    top: 0;
    left: -120px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.049);
    width: 10%;
    height: 100%;
    transform: skew(20deg);
    transition: 0.3s;
}

.items:hover::after{
    left: 500px;
  
}

