.image_team:hover{
    transform: scale(1.2);
}
.image_team{
    transition: 0.4s;
    
}
.box_info{
    position: absolute;
    transition: 0.5s;
    pointer-events: none;
    top: 150%;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.501);
    
    
    

}

.image_team:hover + .box_info{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    

    
}

